################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
CMakeFiles/
obj/
bin/
out/

/.vscode
target/
/OldCrap